#nav {
    width: 100%;
    background: black;
    min-height: 12.5em;
    padding-left: calc(50% - 6em);
}

#react-logo {
    margin: 1em;
    width: 10em;
    height: 10em;
    animation: react-logo-idle infinite 2s linear;
}

@keyframes react-logo-idle {
    0%: {
        margin: 2em;
        width: 8em;
        height: 8em;
        transform: rotate(0deg);
    }
    50% {
        margin: 0em;
        width: 12em;
        height: 12em;
        transform: rotate(60deg);
    }
    100%: {
        margin: 2em;
        width: 8em;
        height: 8em;
        transform: rotate(120deg);
    }
}#reminder {
    padding: 1em;
    border-radius: 1em;
    background: white;
    font-style: oblique;
    text-align: center;
    color: red;
}body {
    font-family: sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
    background: #6CF;
    margin: 0;
}

h1, h2 {
    color: white;
    text-align: center;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3em;
}